body {
    background-color: #FFA23F;
    /*padding-top: 0px;*/
    /*margin-top: 0px;*/
    /*width: 1rem;*/
}

header {
    background-color: #FF8300;
    width: 100vw;
    margin-left: -0.5em;
    margin-top: -1.25em;
    position: absolute;
    /*left: 0;*/
    /*top: 0;*/
    height: 60px;
}
header h1 {
    /*vertical-align: ;*/
    position: relative;
    text-align: center;
    top: 10px;
}