body {
    background-color: #ffffff;
    /*padding-top: 0px;*/
    /*margin-top: 0px;*/
    /*width: 1rem;*/
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

header {
    background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ededed);
    width: 100vw;
    margin-left: -0.5em;
    margin-top: -1.25em;
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*height: 6vh;*/
    height: 60px;
    padding-bottom: 15px;
    /*
    border-bottom:1px solid #CCC;
    */
}

header h1 {
    /*vertical-align: ;*/
    position: relative;
    text-align: center;
    top: 16px;
    font-size: 30px;
    font-weight: lighter;
}

.body-text {
    text-align: center;
    font-size: 16px;
    /*max-width: 60vw;*/
    padding-left: 10vw;
    padding-right: 10vw;
    line-height: 22px;
}
